extends layout

block stylesheets
    link(rel='stylesheet' href='./stylesheets/contact-success.css')

block content
    p Hello #{name}! Thank you for contacting me!
    p I will contact you soon at #{email} :)